ul.first{overflow:hidden;
list-style-type:none;
background-color:black;
padding:0;
margin-left: -25px;
position:fixed;

margin-top:-45px;
width:1382px;
z-index:1;
}

li.second{ float:right;
}
li.second a {padding:20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
text-align: right;
display:block;

cursor:pointer;
color:white;
text-decoration:none;
text-align:center;}
li.second a:hover{background-color:rgb(90,234,255);
color:black;

}
li.second a:active{color:teal;}
h1.head{text-align: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
color:white;
width:500px;
font-family: 'Source Sans Pro', sans-serif;
padding:80px,30px,80px,30px;
padding-top:10px;
padding-bottom:10px;
background-color: rgba(0,121,129);
border:5px solid white;
font-size: 35px;
transform:translateX(130%);
animation-name:home;
animation-duration:4s;
animation-timing-function: ease;
position:relative;
margin:40px;
transform: translate(75%,70%);
}
body{background-color: white;}
.subhead{text-align: center;

color:black;
width:650px;
font-family: 'Source Sans Pro', sans-serif;

padding-top:10px;
padding-bottom:10px;
padding-left: 5px;
padding-right: 5px;

font-size: 30px;
transform:translateX(110%);
position:relative;
margin:40px;
transform: translate(47%,60%);
border-bottom: 2px solid black;

}
form{  font-family: 'Roboto', sans-serif;
margin-top:80px;
margin-left:400px;
}
label{color:black;
font-size:25px;

}
input{width:560px;
height:50px;
margin-top:10px;
font-size:30px;
font-family: 'Source Sans Pro', sans-serif;
margin-bottom: 10px;
background-color: darkcyan;
color:white;
padding-left:10px;

}
.colm{
width:50%;
margin-top:40px;
}
.onne{margin-bottom:60px;}
.button {border:2px solid darkgrey;
  border-radius:100px;
  width:200px;
  background:linear-gradient(to bottom right,rgb(22,0,66),rgb(41,187,168)),lightskyblue;
  background-size:220px 220px,0px 220px;
  background-position:left,left;
  background-repeat:no-repeat;
font-size:20px;

color:white;
margin:auto;
padding:30px;
padding-top:10px;
padding-bottom:15px;
 width:155px;
 animation-name:home;
 animation-duration:4s;
 animation-timing-function: ease;
transform: translate(130%,100%);

font-family: 'Roboto', sans-serif;
}
.button:hover{color:black;
  background-size:0px 220px,200px 220px;
  top:50%;
  transition-duration:0.8s;
  transition-delay:0.1s
  transition-timing-function:ease;
 }
 span{font-size:25px;}
 .button:hover span{animation-name:example;animation-duration:0.8s;
 animation-iteration-count:infinite;}
@keyframes example{from{opacity:1;} to{opacity:0;}}
textarea{width:550px;
  font-size:20px;
  background-color: darkcyan;
  font-family: 'Source Sans Pro', sans-serif;
transform:translateY(30%);
height:50px;}
p.mes{color:black;
  margin-top:60px;
  transform:translateY(25%);
font-size:25px;
margin-bottom:5px;}
