ul.first{overflow:hidden;
list-style-type:none;
background-color:black;
padding:0;
margin-left: -25px;
position:fixed;

margin-top:-35px;
width:1382px;
z-index:1;
}

li.second{ float:right;
}
li.second a {padding:20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
text-align: right;
display:block;

cursor:pointer;
color:white;
text-decoration:none;
text-align:center;}
li.second a:hover{background-color:rgb(90,234,255);
color:black;

}
li.second a:active{color:teal;}
h1.head{text-align: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
color:white;
width:600px;
font-family: 'Source Sans Pro', sans-serif;
padding:80px,30px,80px,30px;
padding-top:10px;
padding-bottom:10px;
background-color: rgba(0,121,129);
border:5px solid white;
font-size: 35px;
transform:translateX(110%);
animation-name:home;
animation-duration:4s;
animation-timing-function: ease;
position:relative;
margin:40px;
transform: translate(55%,70%);
}
body{background-color: rgba(0,0,0,0.8);}
.subhead{text-align: center;

color:white;
width:650px;
font-family: 'Source Sans Pro', sans-serif;

padding-top:10px;
padding-bottom:10px;
padding-left: 5px;
padding-right: 5px;

font-size: 30px;
transform:translateX(110%);
position:relative;
margin:40px;
transform: translate(47%,60%);
border-bottom: 2px solid white;

}
@keyframes attention{from{background-color: lightskyblue;}to{background-color: white;}}
.he{font-family: 'Source Sans Pro', sans-serif;
color:white;
text-align:center;
transform: translateY(80%);
font-size:20px;}
form{  font-family: 'Roboto', sans-serif;
margin-top:80px;
margin-left:50px;
}
label{color:white;
font-size:25px;

}
input{width:550px;
height:50px;
margin-top:10px;
font-size:20px;
font-family: 'Source Sans Pro', sans-serif;
margin-bottom: 10px;
}
.colm{float:left;
width:50%;
margin-top:40px;}
.onne{margin-bottom:60px;}
div.ask1{
font-size: 15px;
color:white;
 font-family: 'Roboto', sans-serif;
 margin-bottom: 10px;
}
.ck{width:25px;
transform: translateY(20%);
margin-bottom: 8px;}
.ckt{font-size:25px;
margin-bottom: 8px;}

textarea{width:1100px;
  font-size:20px;
  font-family: 'Source Sans Pro', sans-serif;
margin-bottom:30px;}
.lastt{margin-bottom:30px;}
.button {
  border-radius:30px;
  width:200px;
  background:linear-gradient(to bottom right,rgb(22,0,70),rgb(90,234,255)),lightskyblue;
  background-size:220px 220px,0px 220px;
  background-position:left,left;
  background-repeat:no-repeat;
font-size:20px;

color:white;
margin:auto;
padding:30px;
padding-top:10px;
padding-bottom:15px;
 width:155px;
 animation-name:home;
 animation-duration:4s;
 animation-timing-function: ease;
transform: translateX(380%);

font-family: 'Roboto', sans-serif;
}
.button:hover{color:black;
  background-size:0px 220px,200px 220px;
  top:50%;
  transition-duration:0.8s;
  transition-delay:0.1s
  transition-timing-function:ease;
 }
 span{font-size:25px;}
 .button:hover span{animation-name:example;animation-duration:0.8s;
 animation-iteration-count:infinite;}
@keyframes example{from{opacity:1;} to{opacity:0;}}
